forums/
list_of_drugs
db.json
stopwords
contraction-expansion.json
not_drug_names
list_of_effects
drug_misnaming.json
drug-taxonomy.json
backup/
db-old.json
comention-matrix.tsv
correlation-matrix.tsv
